.DS_Store

xcuserdata/

*.hmap

*.ipa
*.dSYM.zip
*.dSYM

timeline.xctimeline
playground.xcworkspace

Packages/
Package.pins
Package.resolved

.build/

Pods/

Carthage/Checkouts
Carthage/Build/

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output